<html>
<head>
</head>
<body>
  <noscript>
    <h2>JavaScript required.</h2>
  </noscript>
  <script type="text/template" id="background-template">
    <div id="background" style="background: url('<%= blur %>') 100% 100% no-repeat; 
                                height: 100%; background-size: 100% 100%;"/>
  </script>
  <script type="text/template" id="image-template">
    <div id="background" style="background: url('<%= blur %>') 100% 100% no-repeat; 
                                height: 100%; background-size: 100% 100%;
                                background-attachment: fixed;
                                ">
      <div style="margin-right: 250px; padding: 20px;">
        <!-- <img class="main-photo" src="<%= path %>"/> -->
        <div style="background: url('<%= path %>') center no-repeat; 
                    background-size: 90%; height: 90%;
                    box-shadow: 0 0 10px rgba(0,0,0,0.5);
                    background-attachment: fixed;
                    "/>
      </div>
    </div>
  </script>
  <script type="text/template" id="thumb-template">
    <!-- <div class="thumb" style="background: url('<%= path %>') no-repeat; height: 112px; width: 168px;"/> -->
    <img class="thumb" src="<%= path %>"/>
    <!--<div class="thumb" style="background: url('<%= path %>') 0 100% no-repeat"/>-->
  </script>
<!--
  <form id="add-new-group">
    <input type="text" required placeholder="name" class="name-input"/>
    <input type="submit" value="Add group"/>
  </form>

-->
  <script type="text/template" id="group-template">
    <p><%= name %></p>
  </script>
  <div id="main" class="main">
  </div>
  <div id="app" style="top: 0px; left: auto; right: 0px; bottom: 0px; overflow-y: scroll;
                             overflow-x: hidden; position: absolute;"></div>
  <div id="group"/>
        <!--
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.js"></script>
	<script type="text/javascript" src="http://underscorejs.org/underscore.js"></script>
	<script type="text/javascript" src="http://backbonejs.org/backbone.js"></script> -->
	<script type="text/javascript" src="jquery-2.1.1.js"></script>
	<script type="text/javascript" src="underscore.js"></script>
	<script type="text/javascript" src="backbone.js"></script>
	<script type="text/javascript" src="script.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
</body>
</html>
